@font-face{
  font-family : "Cocogoose";
  src         : url("fonts/Cocogoose.otf");
}

@font-face{
  font-family : "DigitalDisorder";

  src         : url("fonts/DigitalDisorder.otf");
  src         : url("fonts/DigitalDisorder.ttf");
}

@font-face{
  font-family : "go around the books";
  src         : url("fonts/goaroundthebooks.ttf");
}

@font-face{
  font-family : "BebasNeue";
  src         : url("fonts/BebasNeue.otf");
}

@font-face{
  font-family : "BenHandwriting";
  src         : url("fonts/BenHandwriting.ttf");
}

@font-face{
  font-family : "Symbola";
  src         : url("fonts/Symbola.ttf");
}

@font-face{
  font-family : "EmojiSymbols";
  src         : url("fonts/EmojiSymbols-Regular.woff");
}

@font-face{
  font-family : "OpenSansEmoji";
  src         : url("fonts/OpenSansEmoji.ttf");
  src         : url("fonts/OpenSansEmoji.otf");
}

@font-face{
  font-family : "mathilde";
  src         : url("fonts/mathilde.otf");
}

@font-face{
  font-family : "Quicksand_Light";
  src         : url("fonts/Quicksand_Light.otf");
}

@font-face{
  font-family : "Quicksand_Book";
  src         : url("fonts/Quicksand_Book.otf");
}

@font-face{
  font-family : "VivaPersib";
  src         : url("fonts/VivaPersib.ttf");
}

@font-face{
  font-family : "DOTMATRI";
  src         : url("fonts/DOTMATRI.TTF");
}

@font-face{
  font-family : "DOTMBold";
  src         : url("fonts/DOTMBold.TTF");
}

@font-face{
  font-family : "NordicaHairline";
  src         : url("fonts/NordicaHairline.otf");
}

@font-face{
  font-family : "Littledays";
  src         : url("fonts/Littledays.ttf");
}
