  <div id="centralcontainer">
  <div id="beforeafter">
  <div id="mainleft" class="before">
      <div id="headshot_circle_before" class="headshot_circle">
      <%= image_tag("pixel_selfie.png", id: :headshot_techno, class: :headshot_img) %>

    </div>
    <h1 class="techno_left">TECHNO-</h1>
        <h1 class="social_left">Social</h1>

    <div class="parallelogram_left parallelogram"><p class="parallelogram_text">Ben Wheeler sorta effects some stuff</p></div>


    <p>Yo


    <p>.</p>
    <p>.</p>

    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
d
    </div> <!-- mainleft -->
  <div id="mainright" class="after">
  <div id="headshot_circle_after" class="headshot_circle">

      <%= image_tag("drawn_selfie.png", id: :headshot_social, class: :headshot_img) %>

    </div>
    <h1 class="techno_right">TECHNO-</h1>
    <h1 class="social_right">Social</h1>

    <div class="parallelogram_right parallelogram"><p class="parallelogram_text">Ben Wheeler sorta affects some stuff</p></div>

    <p>.</p>
    <p>.</p>
    <p>.</p>

    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
    <p class="emoji_large">Hi 🙋 &#2660; &#x1F64B; &#x1f64b;&#9728; </p>


    test

    <p>.</p>
    <p>.</p>

    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
    <p>
d
    </div> <!-- mainright -->
  </div> <!-- beforeafter -->

  </div> <!-- centralcontainer -->

