@font-face{
  font-family : "Cocogoose";
  src         : font-url('Cocogoose.otf');
}

@font-face{
  font-family : "DigitalDisorder";

  src         : font-url('DigitalDisorder.otf');
  src         : font-url('DigitalDisorder.ttf');
}

@font-face{
  font-family : "go around the books";
  src         : font-url('goaroundthebooks.ttf');
}

@font-face{
  font-family : "BebasNeue";
  src         : font-url('BebasNeue.otf');
}

@font-face{
  font-family : "BenHandwriting";
  src         : font-url('BenHandwriting.ttf');
}

@font-face{
  font-family : "Symbola";
  src         : font-url('Symbola.ttf');
}

@font-face{
  font-family : "mathilde";
  src         : font-url('mathilde.otf');
}

@font-face{
  font-family : "Quicksand_Light";
  src         : font-url('Quicksand_Light.otf');
}

@font-face{
  font-family : "Quicksand_Book";
  src         : font-url('Quicksand_Book.otf');
}

@font-face{
  font-family : "VivaPersib";
  src         : font-url('VivaPersib.ttf');
}

@font-face{
  font-family : "DOTMATRI";
  src         : font-url('DOTMATRI.TTF');
}

@font-face{
  font-family : "DOTMBold";
  src         : font-url('DOTMBold.TTF');
}

@font-face{
  font-family : "NordicaHairline";
  src         : font-url('NordicaHairline.otf');
}

@font-face{
  font-family : "Littledays";
  src         : font-url('Littledays.ttf');
}

