@font-face{
  font-family : "Cocogoose";
  src         : asset-url('fonts/Cocogoose.otf');
}

@font-face{
  font-family : "DigitalDisorder";

  src         : asset-url('fonts/DigitalDisorder.otf');
  src         : asset-url('fonts/DigitalDisorder.otf');
}

@font-face{
  font-family : "go around the books";
  src         : asset-url('fonts/goaroundthebooks.ttf');
}

@font-face{
  font-family : "BebasNeue";
  src         : asset-url('fonts/BebasNeue.otf');
}

@font-face{
  font-family : "BenHandwriting";
  src         : asset-url('fonts/BenHandwriting.ttf');
}

@font-face{
  font-family : "Symbola";
  src         : asset-url('fonts/Symbola.ttf');
}
