
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small : 400px;
$break-large : 1024px;
$yellow      : #fc0;
$purple      : #93d;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }

  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

html {
    font-size        : 13px;

}

body {
  top              : 0;

  background-color : #fff;
  font-family      : verdana, arial, helvetica, sans-serif;
  color            : #333;
  line-height      : 125%;
  text-align       : center;
}

.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -user-select: none;
}


h1 {
  position    : relative;
  background-color: none;

  font-family : Verdana, Helvetica, sans-serif;
  line-height : 110%;
}

h1.techno_left {
  left        : .2em;

  font-family : "DigitalDisorder", Cocogoose, Verdana, Helvetica, sans-serif;
  color       : $yellow;
  z-index: 1;
}

h1.social_left {
  left        : .2em;

  font-family : "go around the books", Cocogoose, Verdana, Helvetica, sans-serif;
  color       : #444;
  z-index: 2;
}

h1.techno_right {
  left        : .2em;

  font-family : "DigitalDisorder", Cocogoose, Verdana, Helvetica, sans-serif;
  color       : #ccc;
  z-index: 1;
}

h1.social_right {
  left        : .2em;
  z-index: 2;

  font-family : "go around the books", Cocogoose, Verdana, Helvetica, sans-serif;
  color       : $purple;
}

.parallelogram {
  position          : relative;
  /* only as wide as content */
  display           : inline-block;

  height            : 3em;
  margin            : auto;
  padding           : .5em 2em 0em;

  font-family       : "BebasNeue", "Cocogoose", Cocogoose, Verdana, Helvetica, sans-serif;
  border-radius     : .5em;

  -webkit-transform : skew(-30deg);
  -moz-transform    : skew(-30deg);
  transform         : skew(-30deg);
}

.parallelogram_text {
  font-size         : 1.5em;
  font-weight       : 200;

  -webkit-transform : skew(20deg);
  -moz-transform    : skew(20deg);
  transform         : none;
  transform         : skew(20deg);
}

.parallelogram_left {
  background : #fff;
  color      : #000;
}

.parallelogram_right {
  background : #000;
  color      : #fff;
}

#beforeafter {
  height     : 100%;
  width: 100%;
  min-height : 100vh;
  min-width      : 100vw;
}

#mainleft {
  min-height       : 100%;
  width            : 100vw;

  background-color : black;
  text-align       : center;
}

#mainright {
  min-height       : 100%;
  width            : 100%;

  background-color : white;
  text-align       : center;
}

#headshot_circle_before {
  background-color : white;
}

#headshot_circle_after {
  background-color : black;
}

.headshot_circle {
  position      : relative;
  top           : 1em;
  left          : .3em;

  height        : 16em;
  width         : 16em;
  margin        : 0em auto;
  margin-bottom : .3em;

  border-radius : 50%;
}

.headshot_img {
  position : relative;
  height : 13em;
}

#headshot_techno {
  top    : 1.5em;
  left   : .8em;
  height : 13em;
}

#headshot_social {
  top    : 1.8em;
  left   : .5em;
  height : 13em;
}

.drag_wrapper {
  width : 4em;
}

.drag_handle {
  position              : fixed;

  height                : 4em;
  width                 : 1em;

  background            : rgba(155,155, 155, 0.5);

  /* from jquery finger readme */
  user-drag             : none;
  -webkit-user-drag     : none ;
  /* from stackoverflow, could be wrong */
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
}

#central_outer_container {
  position   : relative;

  margin     : 0;

  text-align : center;
}

#central_container {
  position         : relative;
  display          : block;

  height           : auto;
  margin           : 0 auto;

  background-color : #169;
}


.main_list {
  width  : 44em;
  margin : .5em auto;
}

#social_list {
  @extend .main_list;
}

#techno_list {
  @extend .main_list;
    font-family : "DOTMBold", Helvetica, sans-serif;

}

.main_item {
  position : relative;
  display  : block;
  clear    : both;

  min-height   : 6em;
  width    : 100%;
//  padding-bottom: 5em;
  margin   : 2em 0 9em;
  text-size: 1rem;
}

.social_item {
  @extend .main_item;
}

.techno_item {
  @extend .main_item;
  color : #fff;
}

.social_item_icon {
  position    : relative;
  float       : right;
  left: -10px;

  width       : .75em;
  padding     : .025em .015em .03em;

  font-family : "Symbola", "Cocogoose", Helvetica, sans-serif;
  font-size   : 10em;
  line-height : 80%;
}

.social_item_text {
  font-family : "Quicksand_Book", "Cocogoose", Helvetica, sans-serif;
  font-size   : 1.4em;
  line-height : 130%;
  text-align  : right;
}

.social_item_headline {
  display     : block;

  margin      : 0 auto .1em;

  font-family : "Littledays", "go around the books", "Cocogoose", Helvetica, sans-serif;
  font-size   : 2.5em;
  text-align  : right;
}

.item_content {
//  padding-bottom: 2em;
visibility: visible;

}

.social_item_content {
  @extend .item_content;
  float : left;
  width: 34em;
  display : block;
}

.techno_item_icon {
  position    : relative;
  float       : left;

  width       : 14.6em;
  padding     : .25em .15em 2em;
}

.techno_item_text {
  position    : relative;
  display     : block;
  float       : left;
  clear       : both;
  left        : 0;

  font-size   : 0.9em;
  line-height : 150%;
  text-align  : left;
}

.techno_item_subtitle {
  display       : block;
  float         : left;
  left          : 0;
  clear: both;

  margin-bottom : .6em;

  font-size   : 1.2em;
  font-style    : italic;
  line-height   : 110%;
  text-align    : left;
}

.techno_item_headline {
  float         : left;
  left          : 0;

  margin-right  : auto;
  margin-bottom : .6em;
  margin-left   : 0;

  font-size     : 2em;
  line-height   : 100%;
  text-align    : left;
}

.techno_item_content {
  @extend .item_content;
  float : right;
  width : 28.75em;
}

.mockup_outer_container {
  position      : relative;

  height        : 9.375em;
  width         : 14.375em;

  text-align    : center;
  border-bottom : .1em solid green;
  z-index                      : 1;
}

.mockup_inner_container {
  position : relative;

  height   : 9.375em;
  width    : 12.5em;
  margin   : 0 auto;
}

.mockup_background {
  position                     : absolute;
  z-index                      : 0;

  height                       : 9.375em;
  width                        : 12.5em;

  background-repeat            : no-repeat;
  background-size              : 12.5em;

  background-image: asset-url("iphone6_wireframe_purple.png");
}

.screenshot {
  position          : relative;
  display           : block;
  top               : -0.34em;
  bottom            : 0;
  z-index           : 2;

  height            : 13.875em;
  width:         10.875em;
  margin            : 0 auto;

  background-size   : cover;
  text-align        : center;

  -webkit-clip-path : polygon(
  0 25%, 100% 25%, 100% 70%, 0 70%, 0 25%
  );
}

#dayo_screenshot {
  background-image: asset-url("dayo_screenshot.jpeg");
}

#underground_screenshot {
  background-image: asset-url("underground_screenshot.jpeg");
}

#ehighlighter_screenshot {
  background-image: asset-url("ehighlighter_screenshot.jpeg");
}

.app_store_button {
  float         : left;
  left          : 0;

  height        : 1.6em;
  padding: .2em 1em 0em 1em;

  text-align    : left;
}

.graph {
       visibility: hidden;
display: none;
min-width: 310px; max-width: 350px; height: 30px; margin: 0 auto
}

@include respond-to(handhelds) {
  body {
    min-width : 320px; // hack for mobile safari
    // need these or zindex fonts fail sometimes!
    -webkit-transform     : scale(1.0);
    -moz-transform        : scale(1.0);
    -moz-transform-origin : 50% 0;

    zoom                  : 1.0;
    font-size: 13px;
}
html {
    font-size: 13px;
  }
h1 {
   font-size: 3.5em;
}
.headshot_circle {
font-size: .8rem;
}
.techno_item_icon, .social_item_icon {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.techno_item_content, .social_item_content {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main_list {
	   width: 85vw;
	   font-size: .8em;
}
#social_list {
position: relative;
left: 5vw;
}
#techno_list {
position: relative;
left: -5vw;
}
.main_item {
	   width: 80vw;
}
.social_item_headline, .techno_item_headline, .app_store_button, .social_item_subtitle, .techno_item_subtitle, .social_item_text, .techno_item_text {
  float: none;
}
.social_item_icon, .techno_item_icon, .social_item_headline, .techno_item_headline, .app_store_button, .social_item_subtitle, .techno_item_subtitle, .social_item_text, .techno_item_text {
		   text-align: center;
		   display: block;
		   position: relative;
		   padding: 0;
		   margin-top: .3rem;
		   margin-left: auto;
		   margin-right: auto;
		   margin-bottom: .5rem;
}
.app_store_button {
  height        : 1.6em;
}
/* confusing to me that this is necessary; why doesn't it obey decent size of margin bottom it has already? */
.social_item_icon {
margin-bottom: 1rem;
float: none;
}
.social_item_content, .techno_item_content {
		   text-align: center;
		   margin-left: auto;
		   margin-right: auto;
		   padding-left: 0;
		   padding-right: 0;
  width : 80vw;
}
}

@include respond-to(medium-screens) {
  body {
    -webkit-transform     : scale(1.0);
    -moz-transform        : scale(1.0);
    -moz-transform-origin : 50% 0;

    zoom                  : 1.0;
    font-size: 13px;

}
html {
    font-size: 13px;
  }
h1 {
   font-size: 6em;
}
.headshot_circle {
		font-size: 1em;
}
}

@include respond-to(wide-screens) {
  body {
    -webkit-transform     : scale(1.0);
    -moz-transform        : scale(1.0);
    -moz-transform-origin : 50% 0;

    zoom                  : 1.0;
    font-size: 13px;

}
html {
    font-size: 13px;
  }
h1 {
   font-size: 6em;
}
.headshot_circle {
		font-size: 1.2em;
}
}
